* {
  /* TODO: 어떤 코드가 들어가야 할까요? */
}

html {
  /* TODO: 어떤 코드가 들어가야 할까요? */
}

body {
  /* TODO: 어떤 코드가 들어가야 할까요? */
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

/* TODO: 또 어떤 코드들이 들어가야 할까요? */

a {
  text-decoration: none;
}

nav ul,
.menu ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
}

/* TOP NAVIGATION */

body > nav {
  display: flex;
  align-items: center;
  background: black;
  color: lightgray;
  height: 60px;
}

body > nav > .flex-container {
  background: black;
  height: 28px;
  width: 25%;
}

body > nav > .flex-container > * {
  font-size: 0.86rem;
}

body > nav > .flex-container > *:first-child {
  background: #3f4448;
  color: #aaaaaa;
}

body > nav > .flex-container > input {
  background: #3f4448;
  flex: 1;
  padding-top: 0;
  padding-bottom: 0;
}

body > nav > .flex-container > input:active,
body > nav > .flex-container > input:focus {
  background: white;
  outline: none;
}

body > nav > .flex-container > input::placeholder {
  color: #888888;
}

body > nav a,
body > nav a:visited {
  font-size: 0.86rem;
  font-weight: 600;
  color: lightgray;
}

body > nav a:hover {
  color: gray;
}

body > nav a.logo {
  fill: white;
  margin-left: 0;
}

body > nav a.logo:hover {
  fill: gray;
}

.menu ul li > a {
  display: flex;
  align-items: center;
}

.menu ul li > a > * {
  margin-right: 6px;
}

body > nav > *:not(:first-child):not(:last-child),
body > nav ul li:not(:first-child):not(:last-child),
.menu ul li:not(:first-child):not(:last-child) {
  margin: auto 6px;
}

body > nav > *:first-child,
nav ul li:first-child {
  margin-right: 6px;
}

nav ul li:last-child {
  margin-left: 6px;
}

nav .menu {
  margin-left: auto;
}

.menu > ul > li a {
  fill: white;
}

.menu > ul > li a:hover {
  fill: #aaaaaa;
}

.menu > ul > li.profile img {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 2px;
}

/* MAIN HEADER */

main {
  top: 10px;
}

.overview {
  background: #fafafa;
  border-bottom: 1px solid lightgray;
}

.overview > header {
  display: flex;
  align-items: baseline;
  margin-top: 8px;
}

.overview > header h1 {
  font-size: large;
}

.overview > header h1::before {
  display: inline-block;
  content: '';
  width: 16px;
  height: 16px;
  background: gray;
  -webkit-mask: url('./svg/repo.svg') no-repeat 50% 50%;
  mask: url('./svg/repo.svg') no-repeat 50% 50%;
  -webkit-mask-size: 16px 16px;
  mask-size: 16px 16px;
}

.overview > header h1 {
  font-weight: 600;
}

.overview > header h1 .user-id {
  font-weight: normal;
}

.overview > header a {
  color: rgb(0, 106, 226);
}

.overview > header > h1 > a:hover {
  text-decoration: underline;
}

/* REPO ACCESSORY CONTROLS */

.overview > header aside {
  margin-left: auto;
}

.overview > header aside ul {
  display: flex;
  list-style: none;
}

.overview aside ul > li {
  display: flex;
}

.overview aside ul > li:not(:first-child):not(:last-child) {
  margin: auto 4px;
}

.overview aside ul > li:first-child {
  margin-right: 4px;
}
.overview aside ul > li:last-child {
  margin-left: 4px;
}

.overview aside .action-count > a:hover {
  color: rgb(0, 119, 255);
}

/* MAIN NAV */

.overview > nav {
  height: 38px;
  font-size: 0.86rem;
}

.overview > nav > ul {
  margin: 0;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
}

.overview > nav > ul > li {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 12px;
  cursor: pointer;
  color: #666666;
}

.overview > nav > ul > li:hover,
.overview > nav > ul > li.selected {
  color: black;
}

.overview > nav > ul > li.selected {
  background: white;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-top: 3px solid #E16220;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid white;
}

.overview > nav > ul > li > .badge {
  width: 16px;
  height: 16px;
  background: lightgray;
  border-radius: 10px;
  margin-left: 4px;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 16px;
  color: #666666;
}

.overview > nav > ul > li::before {
  content: '';
  width: 16px;
  height: 16px;
  margin-right: 2px;
  -webkit-mask-size: contain;
  mask-size: contain;
  background-color: #aaaaaa;
}

.overview > nav > ul > li.selected::before {
  background-color: black;
}

.overview > nav > ul > .code::before {
  -webkit-mask: url(https://unpkg.com/octicons@8.5.0/build/svg/code.svg)
    no-repeat 50% 50%;
  mask: url(https://unpkg.com/octicons@8.5.0/build/svg/code.svg) no-repeat 50%
    50%;
}

.overview > nav > ul > .pull-request::before {
  -webkit-mask: url(https://unpkg.com/octicons@8.5.0/build/svg/git-pull-request.svg)
    no-repeat 50% 50%;
  mask: url(https://unpkg.com/octicons@8.5.0/build/svg/git-pull-request.svg)
    no-repeat 50% 50%;
}

.overview > nav > ul > .actions::before {
  -webkit-mask: url(https://unpkg.com/octicons@8.5.0/build/svg/play.svg)
    no-repeat 50% 50%;
  mask: url(https://unpkg.com/octicons@8.5.0/build/svg/play.svg) no-repeat 50%
    50%;
}

.overview > nav > ul > .projects::before {
  -webkit-mask: url(https://unpkg.com/octicons@8.5.0/build/svg/project.svg)
    no-repeat 50% 50%;
  mask: url(https://unpkg.com/octicons@8.5.0/build/svg/project.svg) no-repeat
    50% 50%;
}

.overview > nav > ul > .security::before {
  -webkit-mask: url(./svg/shield.svg) no-repeat 50% 50%;
  mask: url(./svg/shield.svg) no-repeat 50% 50%;
}

.overview > nav > ul > .insights::before {
  -webkit-mask: url(./svg/graph.svg) no-repeat 50% 50%;
  mask: url(./svg/graph.svg) no-repeat 50% 50%;
}

.overview > nav > ul > .settings::before {
  -webkit-mask: url(./svg/gear.svg) no-repeat 50% 50%;
  mask: url(./svg/gear.svg) no-repeat 50% 50%;
}

/* CODE */

main > header {
  display: flex;
  align-items: center;
  padding: 12px 0;
}

main > header h2 {
  font-weight: unset;
  font-size: unset;
}

main > header button {
  margin-left: auto;
}

/* CODE SUMMARY */

main .summary {
  height: 50px;
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  font-size: 0.86rem;
}

main .summary > ul {
  height: 42px;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 0;
}

main .summary > ul > li {
  display: flex;
  grid-column: 1fr;
  align-items: center;
  justify-content: center;
  list-style: none;
  color: #666666;
}

main .summary > ul > li::before {
  content: '';
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-left: -16px;
  -webkit-mask-size: contain;
  mask-size: contain;
  background-color: #666666;
}

main .summary > ul > li.commit::before {
  -webkit-mask: url(./svg/history.svg) no-repeat 50% 50%;
  mask: url(./svg/history.svg) no-repeat 50% 50%;
}

main .summary > ul > li.branch::before {
  -webkit-mask: url(./svg/git-branch.svg) no-repeat 50% 50%;
  mask: url(./svg/git-branch.svg) no-repeat 50% 50%;
}

main .summary > ul > li.tag::before {
  -webkit-mask: url(./svg/tag.svg) no-repeat 50% 50%;
  mask: url(./svg/tag.svg) no-repeat 50% 50%;
}

main .summary > ul > li.contributor::before {
  -webkit-mask: url(./svg/organization.svg) no-repeat 50% 50%;
  mask: url(./svg/organization.svg) no-repeat 50% 50%;
}

main .summary > ul > li.license::before {
  -webkit-mask: url(./svg/law.svg) no-repeat 50% 50%;
  mask: url(./svg/law.svg) no-repeat 50% 50%;
}

main .summary > ul > li > span {
  font-weight: 500;
  margin: 0 4px;
  color: black;
}

main .summary .chart {
  height: 8px;
  display: flex;
}

main .summary .chart > .html {
  background: red;
  width: 80%;
}

main .summary .chart > .css {
  background: gold;
  width: 12%;
}

main .summary .chart > .js {
  background: purple;
  width: 8%;
}

/* CONTROLS */

main .controls {
  margin-top: 16px;
  margin-bottom: 8px;
  display: flex;
  padding: 0;
}

main .controls li {
  margin-left: 4px;
  margin-right: 4px;
}

main .controls li:first-of-type {
  margin-left: 0;
}

main .controls li:last-of-type {
  margin-right: 0;
}

main .controls .branch::before {
  content: 'Branch:\00a0';
}

main .controls .file-controls {
  margin-left: auto;
  display: flex;
}

main .controls .file-controls > * {
  border-radius: 0;
  margin-left: -1px;
  margin-right: -1px;
}

main .controls .file-controls > :hover {
  z-index: 1;
}

main .controls .file-controls > :first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  margin-left: 0;
}

main .controls .file-controls > :last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-right: 0;
}

main .controls .clone {
  background: linear-gradient(#00cc00, #00aa00);
  color: white;
  border: 1px solid #009900;
}

main .controls .clone:hover {
  background: linear-gradient(#00bb00, #009900);
  border: 1px solid #008800;
}

/* FILE LIST */

.dir-content {
  margin-bottom: 10px;
}

.dir-content .last-commit {
  border: 1px solid rgb(207, 235, 252);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: rgb(241, 250, 255);
  height: 40px;
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  padding-left: 8px;
  padding-right: 8px;
  position: relative;
  z-index: 1;
}

.dir-content .last-commit img {
  width: 22 px;
  height: 22px;
}

.dir-content .last-commit .username {
  font-weight: 500;
}

.dir-content .last-commit .commit-msg {
  color: gray;
}

.dir-content .last-commit .commit-info {
  margin-left: auto;
  color: gray;
}

.dir-content .last-commit a {
  text-decoration: none;
  font-family: monospace;
  font-size: 1rem;
  color: #666666;
}

.dir-content .last-commit a:hover {
  text-decoration: underline;
}

.dir-content .file-list > .item {
  display: grid;
  grid-template-columns: 48% 1fr 10%;
  padding-left: 8px;
  padding-right: 8px;
  margin-top: -1px;
  height: 34px;
  border: 1px solid #e0e0e0;
}

.dir-content .file-list > .item > * {
  display: flex;
  align-items: center;
}

.dir-content .file-list > .item > *:last-child {
  justify-content: flex-end;
}

.dir-content .item:hover {
  background: #f8f8f8;
}

.dir-content .file-list .item:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* FILE CONTENT */

.file-content {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}
.file-info {
  padding: 8px;
  border-bottom: 1px solid #e0e0e0;
  background: #f6f8fa;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.file-info .file-name {
  display: flex;
  align-items: center;
}

.file-info > ::before {
  content: url(./svg/book.svg);
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 4px;
}

.file-content .content {
  padding: 40px;
}

/* GENERAL CLASS */

.padded {
  padding-left: calc(100% - 1400px);
  padding-right: calc(100% - 1400px);
}

.flex-container {
  display: flex;
  align-content: stretch;
  align-items: center;
}

.flex-container > * {
  padding-left: 8px;
  padding-right: 8px;
  border: none;
  height: 100%;
  display: flex;
  align-items: center;
}

.flex-container > *:not(:last-child) {
  margin-right: 1px;
}

.flex-container > *:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.flex-container > *:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.drop-down {
  display: none;
}

.font-button {
  font-size: 12px;
  font-weight: 500;
}

.dimen-button {
  display: inline-block;
  padding: 5px 9px;
}

.fill-button {
  background: #f2f2f2;
  cursor: pointer;
}

.fill-button:hover {
  background: #e0e0e0;
}

.border-button {
  border: 1px solid #d0d0d0;
  border-radius: 4px;
}

.border-button:hover {
  border: 1px solid #aaaaaa;
}

/* ACTION COUNT */

.action-count > * {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.action-count > *:hover {
  text-decoration: none;
}

.action-count > span {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.action-count > span:hover {
  border: 1px solid gray;
  background: rgb(220, 220, 220);
}

.action-count > a {
  border: 1px solid lightgray;
  border-left: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.action-count > a:visited {
  color: unset;
}

.action-count > span::before {
  margin-right: 2px;
  width: 16px;
  height: 16px;
}

.action-count.watch > span::before {
  content: url(https://unpkg.com/octicons@8.5.0/build/svg/eye.svg);
}

.action-count.star > span::before {
  content: url(https://unpkg.com/octicons@8.5.0/build/svg/star.svg);
}

.action-count.fork > span::before {
  content: url(https://unpkg.com/octicons@8.5.0/build/svg/repo-forked.svg);
}

.btn-drop-down {
  display: flex;
  align-items: center;
}

.btn-drop-down::after {
  content: '';
  width: 10px;
  height: 10px;
  margin-left: 2px;
  background: black;
  -webkit-mask: url('./svg/triangle-down.svg') no-repeat 50% 50%;
  mask: url('./svg/triangle-down.svg') no-repeat 50% 50%;
  -webkit-mask-size: 10px 10px;
  mask-size: 10px 10px;
}

.btn-drop-down.clone::after {
  background: white;
}
